<!DOCTYPE html>
<html>

<head>
    <title>Message Encode Decode</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="flex-container">
        <h1>Encrypt & Decrypt message</h1>
        <label for="Encrypt & Decrypt">Choose the encryption method</label>
        <select name="Encrypt or Decrypt message" id="types">
            <optgroup label="Encrypt methods" id="encrypt">
                <option label="Base64"></option>
            </optgroup>
            <optgroup label="Decrypt methods" id="decrypt">
                <option label="Base64"></option>
            </optgroup>
        </select>
        <br><br>

        <label for="user_message">Type your message</label>

        <div class="user_message">
            <textarea id="user_message_input" name="Message to encrypt or decrypt" rows="4" cols="50" autofocus></textarea>
        </div>

        <br><br>
        <label for="Encrypt or Decrypt message">Message encrypted or decrypted</label>

        <div class="result">
            <textarea id="result_of_message" name="Message encrypted or decrypted" rows="4" cols="50"></textarea>
        </div>
    </div>
    <script src="../main.js"></script>
</body>

</html>